<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>Product lists</title>
</head>
<body>

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/gdmarket/home">Home</a></li>
        <li class="breadcrumb-item"><a href="/supplier/list">Suppliers</a></li>
        <li class="breadcrumb-item"><a href="/product/list">Products</a></li>
    </ol>
</nav>



<div style="margin-top:1em;margin-bottom:1em;" class="container">
    <div>
        <span style="font-size: 2em; color: #32a5e7;">Products in our Collection</span>
        <span style="float:right;">
                <a class="btn btn-outline-success btn-lg" href="/product/new">Add a new product</a>
            </span>
    </div>

    <div style="font-size: 1em">
        <table class="table table-hover">
            <thead class="thead-primary">
            <tr>
                <th scope="col">#</th>
                <th scope="col">Product Number</th>
                <th scope="col">Name</th>
                <th scope="col">unitPrice</th>
                <th scope="col">quantityInStock</th>
                <th scope="col">dateSupplied</th>
                <th scope="col">Supplier</th>
                <th scope="col">&nbsp;</th>
                <th scope="col">&nbsp;</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="product,iterStat : ${products}">
                <!--th:onclick="@{document.location='/goldendome/product/edit/{productId}'(productId=${product.productId})}" >-->
                <th scope="row" th:text="${iterStat.count}"></th>
                <td th:text="${product.productId}" hidden>&nbsp;</td>
                <td th:text="${product.productNumber}">&nbsp;</td>
                <td th:text="${product.name}">&nbsp;</td>
                <td th:text="${product.unitPrice}">&nbsp;</td>
                <td th:text="${product.quantityInStock}">&nbsp;</td>
                <td th:text="${product.dateSupplied}">&nbsp;</td>
                <td th:text="${product.supplier.name}">&nbsp;</td>

                <!--<td><a th:href="@{'/goldendome/product/edit/{productId}'(productId=${product.productId})}">Edit</a></td>-->
                <!--<td>-->
                <!--<a data-toggle="modal" data-target="#confirmDeleteproductModal" th:href="@{'/goldendome/product/delete/' + ${product.productId}}">Delete</a>-->
                <!--&lt;!&ndash;<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#confirmDeleteproductModal">-->
                <!--Launch demo modal-->
                <!--</button>&ndash;&gt;-->
                <!--</td>-->
            </tr>
            <!--<tr th:if="${productsCount < 1}">-->
                <!--<td colspan="8" th:align="center">No products found</td>-->
            <!--</tr>-->
            </tbody>
        </table>
    </div>
</div>




<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>