<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>Register page</title>
  </head>
  <body>  
	 <nav aria-label="breadcrumb">
	  <ol class="breadcrumb">
	  	<li class="breadcrumb-item"><a href="/">Home</a></li>
	    <li class="breadcrumb-item"><a href="/supplier/list">Suppliers</a></li>
	    <li class="breadcrumb-item"><a href="/product/list">Products</a></li>
	  </ol>
	</nav>





	<div class="container">
  	<!-- Content here -->
  	<h2>Register New Product</h2>
		<form id="productRegisterForm" method="post" action="/product/register" th:object="${product}">
            <fieldset>
                <input type="hidden" name="productId" th:value="${product.productId}"/>
                
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="productName">Product name</label>
                            <span th:if="${#fields.hasErrors('productName')}" th:errors="*{productName}"
                                  class="alert alert-danger"></span>
                            <input id="productName" name="productName" type="text" class="form-control"
                                   th:value="${product.productName}">
                        </div>
                    </div>
               

                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="productNumber">Product Number</label>
                          
                            <input id="productNumber" name="productNumber" type="text" class="form-control"
                                   th:value="${product.productNumber}">
                        </div>
                    </div>
                    
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="unitPrice">Unit Price</label>
                            <span th:if="${#fields.hasErrors('unitPrice')}" th:errors="*{unitPrice}"
                                  class="alert alert-danger"></span>
                            <input id="unitPrice" name="unitPrice" type="text" class="form-control"
                                   th:value="${product.unitPrice}">
                        </div>
                    </div>
    			</div>
               
                <div class="row">
                  
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="quantityInStock">quantityInStock</label>
                            <span th:if="${#fields.hasErrors('quantityInStock')}" th:errors="*{quantityInStock}"
                                  class="alert alert-danger"></span>
                            <input id="quantityInStock" name="quantityInStock" type="text" class="form-control"
                                   th:value="${product.quantityInStock}">
                         
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="dateSupplied">Supplied date</label>
                            <span th:if="${#fields.hasErrors('dateSupplied')}" th:errors="*{dateSupplied}"
                                  class="alert alert-danger"></span>
                            <input id="dateSupplied" name="dateSupplied" type="date" class="form-control"
                                   required="required" autofocus th:value="${product.dateSupplied}">
                        </div>
                    </div>
                  
					  
					<div class="col-md-4">
                        <label for="supplier">Supplier:</label>
                        <span th:if="${#fields.hasErrors('supplier')}" th:errors="*{supplier}"
                              class="alert alert-danger"></span>
                        <select name="supplier" id="supplier" class="form-control" required="required" autofocus>
                            <option value="">Select a supplier</option>
                            <option th:each="supplier : ${suppliers}" th:value="${supplier.supplierId}" 
                            th:text="${supplier.supplierNumber}+' - '+${supplier.name}+' '+${supplier.contactPhoneNumber}" ></option>
        
                        </select>
                    </div>
					
			
                </div>

                <div style="float:right;">
                    <a href="/product/list" class="btn btn-outline-warning">Cancel</a>&nbsp;&nbsp;&nbsp;
                    <button id="btnSubmit" type="submit" class="btn btn-outline-success">Save Product</button>
                </div>
            </fieldset>
        </form>
	</div>




    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>