<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Welcome to HolyCross Medical Center (HCMC)</title>
    <div th:replace="fragments/header :: header-css"/>
</head>
<div th:replace="fragments/header :: header"/>

<body>
    <div class="container">
        <h2><a href="/home">Welcome to HolyCross Medical Center (HCMC)</a></h2>

        <br>
        <br>
        <br>

    </div>
</body>

<div th:replace="fragments/footer :: footer"/>

</html>
