<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>Customer lists</title>
</head>
<body>

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/midwest/home">MidWstTen Bank</a></li>
        <li class="breadcrumb-item"><a href="/midwest/customer/list">Customer</a></li>
        <li class="breadcrumb-item"><a href="/midwest/account/list">Accounts</a></li>
    </ol>
</nav>


<div style="margin-top:1em;margin-bottom:1em;" class="container">
    <div>
        <span style="font-size: 2em; color: #32a5e7;">List of Customer</span>
        <span style="float:right;">
                <a class="btn btn-outline-success btn-lg" href="/customer/new">Add a new Customer</a>
            </span>
    </div>

    <div style="font-size: 1em">
        <table class="table table-hover">
            <thead class="thead-primary">
            <tr>
                <th scope="col">#</th>
                <th scope="col">Customer Number:</th>
                <th scope="col">First Name:</th>
                <th scope="col">Middle Name:</th>
                <th scope="col">Last Name:</th>
                <th scope="col">Email Address:</th>
                <th scope="col">Contact Phone Number:</th>
                <th scope="col">Date of Birth:</th>

                <th scope="col">&nbsp;</th>
                <th scope="col">&nbsp;</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="c,iterStat : ${customers}">

                <th scope="row" th:text="${iterStat.count}"></th>
                <td th:text="${c.customerId}" hidden>&nbsp;</td>
                <td th:text="${c.customerNumber}">&nbsp;</td>
                <td th:text="${c.firstName}">&nbsp;</td>
                <td th:text="${c.middleName}">&nbsp;</td>
                <td th:text="${c.lastName}">&nbsp;</td>
                <td th:text="${c.emailAddress}">&nbsp;</td>
                <td th:text="${c.contactPhoneNumber}">&nbsp;</td>
                <td th:text="${c.dateOfBirth}">&nbsp;</td>
            </tr>

            </tbody>
        </table>
    </div>
</div>

<footer class="footer">
    <div class="container">
        <span class="text-muted">Purevdemberel Byambatogtokh : : : CS425-SWE</span>
        <span style="float:right;" class="text-muted">&copy; October 2019</span>
    </div>
</footer>


<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>