<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<!--<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">-->
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>Citizen lists</title>
</head>
<body>

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">Home</a></li>
        <li class="breadcrumb-item"><a href="/patient/list">Patient</a></li>
        <li class="breadcrumb-item"><a href="/patient/elder">Elderly Patients</a></li>
    </ol>
</nav>

<div class="container">
    <div>
        <span style="font-size: 2em; color: #32a5e7;">List of Patient</span>
        <span style="float:right;">
                <a class="btn btn-outline-success btn-lg" href="/patient/register">Register New Patient</a>
        </span>
    </div>


    <!-- Content here -->

    <div style="font-size: 1em">
        <table class="table table-hover">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Patient Number</th>
                <th scope="col">Full Name</th>
                <th scope="col">Is an out Patient</th>
                <th scope="col">Email Address</th>
                <th scope="col">Contact Phone Number</th>
                <th scope="col">Date Of Birth</th>
                <th scope="col">&nbsp;</th>
                <th scope="col">&nbsp;</th>
            </tr>
            </thead>

            <tbody>
            <tr th:each="patient, iterStat : ${patientList}">
                <th scope="row" th:text="${iterStat.count}"></th>
                <td scope="row" th:text="${patient.patientId}" hidden></td>
                <td scope="row" th:text="${patient.patientNumber}"></td>
                <td scope="row" th:text="${patient.fullNames}"></td>
                <td scope="row" th:text="${patient.anOutPatient}"></td>
                <td scope="row" th:text="${patient.emailAddress}"></td>
                <td scope="row" th:text="${patient.contactPhoneNumber}"></td>
                <td scope="row" th:text="${patient.dateOfBirth}"></td>

                <!--<td><a th:href="@{'/citizen/edit/{citizenId}'(citizenId=${patient.patientId})}">Edit</a> </td>-->
                <!--<td><a th:href="@{'/citizen/delete/{citizenId}'(citizenId=${patient.patientId})}">Delete</a> </td>-->

            </tr>
            </tbody>

        </table>
    </div>
    <!--<div>-->
    <!--<nav aria-label="pagination">-->
    <!--<ul class="pagination justify-content-center">-->
    <!--<li class="page-item disabled">-->
    <!--<a class="page-link" href="#">Pages: </a>-->
    <!--</li>-->
    <!--<li th:each="i : ${#numbers.sequence(1, citizens.totalPages)}"-->
    <!--th:class="${currentPageNo}==${i-1}?'page-item active':'page-item'">-->
    <!--<a th:href="@{/citizen/list(pageNo=${i-1})}"-->
    <!--th:text="${i}" class = "page-link"></a>-->
    <!--</li>-->

    <!--</ul>-->
    <!--</nav>-->
    <!--</div>-->

    <!--<div>-->
        <!--<b>-->
            <!--Total Income (USD):-->
        <!--</b>-->
    <!--</div>-->

    <!--<div style="font-size: 1em">-->
        <!--<table class="table table-striped">-->
            <!--<tbody>-->
            <!--<td th:text="${totalIncome}"></td>-->
            <!--</tbody>-->
        <!--</table>-->
    <!--</div>-->





</div>




<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>